html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: Benton;
  src: url("fonts/book.woff") format('woff');
}
@font-face {
  font-family: Benton;
  src: url("fonts/light.woff") format('woff');
  font-weight: 200;
}
@font-face {
  font-family: Benton;
  src: url("fonts/regular.woff") format('woff');
  font-weight: 600;
}
@font-face {
  font-family: Benton;
  src: url("fonts/bold.woff") format('woff');
  font-weight: bold;
}
* {
  color: #808080;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Benton, sans-serif;
}
-webkit-font-smoothing: antialiased {
  -moz-osx-font-smoothing: grayscale;
}
.video-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  z-index: 2;
}
.video-container.shrink {
  height: calc(100vh - 200px);
  width: calc(100vh - 200px);
  right: 80px;
  top: 100px;
}
.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header {
  position: absolute;
  max-width: calc(50vw - 100px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
  line-height: 1.4em;
  z-index: 1;
}
.header.active h1,
.header.active h3,
.header.active .header-link {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  left: 0;
}
.header h1 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  left: -80px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.header h3 {
  color: #336bbe;
  font-weight: 600;
}
.header h3,
.header .header-link {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: relative;
  left: -40px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.header .header-link {
  background: url("arrow.png") no-repeat calc(100% - 7px) center;
  padding-right: 40px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-out, background-position-x 300ms;
  -moz-transition: all 500ms ease-out, background-position-x 300ms;
  -o-transition: all 500ms ease-out, background-position-x 300ms;
  -ms-transition: all 500ms ease-out, background-position-x 300ms;
  transition: all 500ms ease-out, background-position-x 300ms;
}
.header .header-link:hover {
  background-position-x: 100%;
}
.color-block {
  width: calc(100vh - 150px);
  height: calc(100vh - 70px);
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-color: #336bbe;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.color-block.active {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.nav {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  height: 50px;
  padding: 30px 50px;
  z-index: 3;
  position: absolute;
}
.nav a,
.nav .logo {
  margin-right: 30px;
}
.nav .logo {
  display: inline-block;
  position: relative;
  top: 1px;
}
.nav .logo path {
  fill: #fff;
  -webkit-transition: fill 0.5s;
  -moz-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  -ms-transition: fill 0.5s;
  transition: fill 0.5s;
}
.nav .logo.active path {
  fill: #ff5a00;
}
.right-nav {
  position: absolute;
  right: 30px;
  top: 130px;
}
.right-nav a {
  position: relative;
  display: block;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}
.right-nav a:before,
.right-nav a.active:before {
  content: '.';
  color: transparent;
  width: 0px;
  height: 1px;
  top: 7px;
  right: -30px;
  background: #fff;
  position: absolute;
  -webkit-transition: width 200ms ease-out;
  -moz-transition: width 200ms ease-out;
  -o-transition: width 200ms ease-out;
  -ms-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}
.right-nav a:hover:before,
.right-nav a.active:before {
  width: 60px;
}
.loader {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100vh;
  background: #fff;
  text-align: center;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
.loader.finished {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.ge-container.wipe-off .video-container,
.ge-container.wipe-off .color-block,
.ge-container.wipe-off .header {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: translateX(100vw);
  -moz-transform: translateX(100vw);
  -o-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
}
.ge-container.wipe-off .video-container {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.ge-container.wipe-off .header {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(100vw) translateY(-50%);
  -moz-transform: translateX(100vw) translateY(-50%);
  -o-transform: translateX(100vw) translateY(-50%);
  -ms-transform: translateX(100vw) translateY(-50%);
  transform: translateX(100vw) translateY(-50%);
}
.v-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.v-container .video-container,
.v-container .header {
  -webkit-transition: -webkit-transform 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out, opacity 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out, opacity 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transform: translateX(-50vw);
  -moz-transform: translateX(-50vw);
  -o-transform: translateX(-50vw);
  -ms-transform: translateX(-50vw);
  transform: translateX(-50vw);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.v-container .header {
  -webkit-transform: translateX(-50vw) translateY(-50%);
  -moz-transform: translateX(-50vw) translateY(-50%);
  -o-transform: translateX(-50vw) translateY(-50%);
  -ms-transform: translateX(-50vw) translateY(-50%);
  transform: translateX(-50vw) translateY(-50%);
}
.v-container .color-block {
  background-color: #ed1613;
}
.v-container h3 {
  color: #ed1613;
}
.v-container.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.v-container.active .video-container,
.v-container.active .header {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.v-container.active .video-container {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.v-container.active .header {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(0) translateY(-50%);
  -moz-transform: translateX(0) translateY(-50%);
  -o-transform: translateX(0) translateY(-50%);
  -ms-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}
