html
  head
    link( href="assets/index.css" type="text/css" rel="stylesheet" )
  body
    nav.nav
      img.logo( src="assets/logo.svg" )
      a Work
      a About
      a Contact
    main
      .loader Loading...
      header.header
        h3 GE
        h1 Bringing innovation to its stakeholder communications and beyond
        a.header-link Watch case study
      .video-container
        video( autoplay loop muted )
          source( src="assets/clip.mp4" )
      .color-block
      nav.right-nav
        a.active 01
        a 02
        a 03
    script( src="assets/index.js" )